@charset "UTF-8";
body {
   width: 95%;
   min-width: 900px;
   max-width: 1000px;
   font-family: Verdana, Geneva, sans-serif;
   font-weight: normal;
   font-size: 16px;
   margin: 0px auto;
   position: relative;

}

/* Header styles */

header {
   float: left;
   width: 100%;
   
}

header img {
   display: block;
   float: left;
   width: 10%;
}


/*Navigation list styles */

header nav {
   float: left;
   width: 80%;
   margin: 10px auto 10px -0.5%;
}

header nav li {
   display: block;
  
   margin-left: 3%;
   margin-bottom: 7px;
   float: left;
   padding-left: 7px;
}

header nav li a {
   display: block;
   width: 100%;
   height: 50px;
   line-height: 50px;
   text-align: center;
   color: black;
   font-size: 1.5em;
   background-color: white;
}

header nav li a:hover {

   color: rgb(31, 122, 70);
}

section img {
	width: 100%;
    height: 400px;
}
section p {
	font-size: 0.9em;
    text-align: center;
	width: 100%;
    height: 80px;
	background-color: rgb(210,234,240);
    margin-top:0px;
    line-height:70px;
}
section h1{
	font-size: 1.4em;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}
div#do1 {
	width: 100%;
    height: 250px;
	background-color: rgb(245, 240, 220);
    }
div#do1 img{
	height:200px;
	float:left;
	width:35%;
	margin-right: 15px;
    margin-bottom: 25px;
    margin-top:25px;
}
div#do1 h2{
	font-size: 1.1em;
	float:left;
	padding-top: 40px;
	color:black;
}
div#do1 p{
	width:60%;
	font-size: 0.9em;
	line-height:20px;
	color:black;
	float:left;
}


div#do2 {
	margin-top:20px;
	width: 100%;
    height: 250px;
	background-color: rgb(245, 240, 220);
    }
div#do2 img{
	height:200px;
	float:left;
	width:35%;
	margin-right: 15px;
    margin-bottom: 25px;
    margin-top:25px;
}
div#do2 h2{
	font-size: 1.1em;
	float:left;
	padding-top: 40px;
	color:black;
}
div#do2 p{
	width:60%;
	font-size: 0.9em;
	line-height:20px;
	color:black;
	float:left;
}


div#do3 {
	margin-top:20px;
	width: 100%;
    height: 250px;
	background-color: rgb(245, 240, 220);
    }
div#do3 img{
	height:200px;
	float:left;
	width:35%;
	margin-right: 15px;
    margin-bottom: 25px;
    margin-top:25px;
}
div#do3 h2{
	font-size: 1.1em;
	float:left;
	padding-top: 40px;
	color:black;
}
div#do3 p{
	width:60%;
	font-size: 0.9em;
	line-height:20px;
	color:black;
	float:left;
}

div#do4 {
	margin-top:20px;
	width: 100%;
    height: 250px;
	background-color: rgb(245, 240, 220);
    }
div#do4 img{
	height:200px;
	float:left;
	width:35%;
	margin-right: 15px;
    margin-bottom: 25px;
    margin-top:25px;
}
div#do4 h2{
	font-size: 1.1em;
	float:left;
	padding-top: 40px;
	color:black;
}
div#do4 p{
	width:60%;
	font-size: 0.9em;
	line-height:20px;
	color:black;
	float:left;
}
div#do5 {
	margin-top:20px;
	width: 100%;
    height: 250px;
	background-color: rgb(245, 240, 220);
    }
div#do5 img{
	height:200px;
	float:left;
	width:35%;
	margin-right: 15px;
    margin-bottom: 25px;
    margin-top:25px;
}
div#do5 h2{
	font-size: 1.1em;
	float:left;
	padding-top: 40px;
	color:black;
}
div#do5 p{
	width:60%;
	font-size: 0.9em;
	line-height:20px;
	color:black;
	float:left;
}
div#do6 {
	margin-top:20px;
	width: 100%;
    height: 250px;
	background-color: rgb(245, 240, 220);
    }
div#do6 img{
	height:200px;
	float:left;
	width:35%;
	margin-right: 15px;
    margin-bottom: 25px;
    margin-top:25px;
}
div#do6 h2{
	font-size: 1.1em;
	float:left;
	padding-top: 40px;
	color:black;
}
div#do6 p{
	width:60%;
	font-size: 0.9em;
	line-height:20px;
	color:black;
	float:left;
}

div#do7 {
	margin-top:20px;
	width: 100%;
    height: 250px;
	background-color: rgb(245, 240, 220);
    }
div#do7 img{
	height:200px;
	float:left;
	width:35%;
	margin-right: 15px;
    margin-bottom: 25px;
    margin-top:25px;
}
div#do7 h2{
	font-size: 1.1em;
	float:left;
	padding-top: 40px;
	color:black;
}
div#do7 p{
	width:60%;
	font-size: 0.9em;
	line-height:20px;
	color:black;
	float:left;
}
div#do8 {
	margin-top:20px;
	width: 100%;
    height: 250px;
	background-color: rgb(245, 240, 220);
    }
div#do8 img{
	height:200px;
	float:left;
	width:35%;
	margin-right: 15px;
    margin-bottom: 25px;
    margin-top:25px;
}
div#do8 h2{
	font-size: 1.1em;
	float:left;
	padding-top: 40px;
	color:black;
}
div#do8 p{
	width:60%;
	font-size: 0.9em;
	line-height:20px;
	color:black;
	float:left;
}
div#do9 {
	margin-top:20px;
	width: 100%;
    height: 250px;
	background-color: rgb(245, 240, 220);
    }
div#do9 img{
	height:200px;
	float:left;
	width:35%;
	margin-right: 15px;
    margin-bottom: 25px;
    margin-top:25px;
}
div#do9 h2{
	font-size: 1.1em;
	float:left;
	padding-top: 40px;
	color:black;
}
div#do9 p{
	width:60%;
	font-size: 0.9em;
	line-height:20px;
	color:black;
	float:left;
}
div#do10 {
	margin-top:20px;
	width: 100%;
    height: 250px;
	background-color: rgb(245, 240, 220);
    }
div#do10 img{
	height:200px;
	float:left;
	width:35%;
	margin-right: 15px;
    margin-bottom: 25px;
    margin-top:25px;
}
div#do10 h2{
	font-size: 1.1em;
	float:left;
	padding-top: 40px;
	color:black;
}
div#do10 p{
	width:60%;
	font-size: 0.9em;
	line-height:20px;
	color:black;
	float:left;
}

footer {
   border-top: 1px solid rgb(130,190,240);
   background-color: rgb(210,234,240);
   clear: left;
   margin-top: 20px;
   padding: 10px 0px;
}

footer address {
   color: rgb(130,190,240);
   font-style: normal;
   font-size: 0.8em;
   text-align: center;
}